@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Clash";
    src: url(/src/fonts/FontsFree-Net-ClashDisplay-Variable.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    src: url(/src/fonts/satoshi/Satoshi-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "Stix";
    src: url(/src/fonts/STIXTwoText-Medium.ttf);
  }
}
